* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e6ecf0;
  --secondary-color: #50b7f5;
  --text-color: #0f1419;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  min-width: 320px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
.sidebar {
  border-right: 1px solid var(--primary-color);
  flex: 0.2;
  min-width: 100px;
  overflow-y: scroll;
}

.sidebar .fa-twitter {
  color: var(--secondary-color);
  font-size: 40px;
  cursor: pointer;
}

.fa-twitter:hover {
  background-color: #cee2ee;
  border-radius: 50%;
}

.sidebar-icon {
  display: flex; /* read about flex */
  align-items: center;
  cursor: pointer;
}

.sidebar-icon .material-symbols-outlined,
.fa-twitter {
  padding: 0.75rem;
  font-size: 30px;
}

.sidebar-icon .material-symbols-outlined:hover {
  background-color: var(--primary-color);
  border-radius: 50%;
}

#sidebar-btn {
  width: 100%;
  height: 50px;
  background-color: var(--secondary-color);
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  margin-bottom: 16px;
}

#sidebar-btn:hover {
  background-color: #29a2ed;
}

/* Styling Posts section */

.post {
  display: flex;
  align-items: flex-start;
  width: 60%;
  border-right: 1px solid var(--primary-color);
  padding: 12px 16px;
}

.post-avatar {
  margin-right: 12px;
}

.post-avatar img {
  border-radius: 50%;
  height: 50px;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 10px;
  margin-right: 12px;
}

.post-section-body {
  flex: 1;
  padding: 10px;
}

.post-section-body img {
  width: 500px;
  object-fit: contain;
  border-radius: 20px;
}

.post-section-body .post-footer {
  display: flex;
  flex-direction: row;
  /* column-gap: 120px; */
  /* justify-content: center; */
  justify-content: space-between;
}

.verify {
  font-weight: 600;
  font-size: 14px;
  color: gray;
  font-family: inherit;
}

.post-header-text h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.font-badge {
  font-size: 14px !important;
  color: var(--secondary-color);
  margin-right: 5px;
}

.post-header-description {
  margin-bottom: 10px;
  font-size: 15px;
  font-family: inherit;
  /* word-break: break-all; */
  padding: 5px;
}
