:root {
  --primary-color: #e6ecf0;
  --secondary-color: #50b7f5;
  --text-color: #0f1419;
}

.feed {
  flex: 0.5;
  border-right: 1px solid var(--primary-color);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed_header {
  position: static;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--primary-color);
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feed_header h2 {
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  padding: 2px;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed_header .right-side-icon:hover {
  border-radius: 16px;
  background-color: var(--primary-color);
}

/* tweetbox */

.tweetbox {
  padding: 4px 10px 4px 10px;
  border-bottom: 2px solid var(--primary-color);
}

.tweetbox form {
  display: flex;
  flex-direction: column;
}

.tweetbox_input {
  display: flex;
  padding: 18px;
  flex-direction: row;
}

.tweetbox_input img {
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.tweetbox_input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.tweetButton {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 30px;
  font-family: inherit;
  font-weight: 900;
  color: white;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  display: inherit;
}
